body {
  background-color: black;
}

.image {
  position: relative;
}

.photo1 {
  position:  absolute;
  top: 35%;
  right: 12%;
}

.photo2 {
  position:  absolute;
  top: 10%;
  right: 35%;
}

.photo3 {
  position:  absolute;
  top: 60%;
  right: 50%;
}

.photo4 {
  position:  absolute;
  top: 10%;
  right: 80%;
}

.photo5 {
  position:  absolute;
  top: 50%;
  right: 12%;
}

.photo6 {
  position:  absolute;
  top: 25%;
  right: 80%;
}

.photo7 {
  position:  absolute;
  top: 10%;
  right: 65%;
}

.photo8 {
  position:  absolute;
  top: 10%;
  right: 12%;
}

img {
  border-radius: 50%;
  width: 10vw;
  height:  10vw;
}

.scissors {
  position: absolute;
  top: 27%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  font-family: monospace;
  color: lightgrey;
}

.dialogue {
  position: absolute;
  top: 44%;
  left: 47%;
  transform: translate(-50%, -50%);
  font-size: 1vw;
  font-family: monospace;
  color: lightgrey;
}

.next {
  position: absolute;
  bottom: 38%;
  left: 63%;
  transform: translate(-50%, -50%);
  font-size: 1vw;
  font-family: monospace;
  color: lightgrey;
}

p {
text-align: center;
width: 108%;
}

a {
color: floralwhite;
text-align: left;
font-family: monospace;
font-size: 1vw;
}
