body {
  background-color: black;
}

.container {
  position: relative;
  text-align: center;
  color: floralwhite;
}

.top-right {
  position: absolute;
  top: 10%;
  right: 70%;
  font-size: 0.8vw;
}

.bottom-right {
  position: absolute;
  bottom: 5%;
  right: -40%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
}

.top-left {
  position: absolute;
  bottom: 7%;
  right: -40%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
}

.bottom-left {
  position: absolute;
  bottom: 10%;
  right: 26%;
  transform: translate(-50%, -50%);
  font-size: 1.2vw;
}

.centered {
  position: absolute;
  top: 78%;
  left: 46%;
  transform: translate(-50%, -50%);
}

p {
color: floralwhite;
text-align: left;
width: 115%;
font-family: monospace;
font-size: 1.2vw;
}

a {
text-align: center;
font-family: monospace;
}
