body {
  background-color: black;
}

.container {
  position: relative;
  text-align: center;
  color: floralwhite;
}

.dialogue {
  position: absolute;
  top: 80%;
  left: 46%;
  transform: translate(-50%, -50%);
}

.play {
  position: absolute;
  bottom: 4%;
  right: 18%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
}

.deny4 {
  position: absolute;
  top: 5%;
  right: 18%;
  font-size: 1vw;
}

p {
color: floralwhite;
text-align: left;
width: 115%;
font-family: monospace;
font-size: 1.2vw;
}

a {
text-align: center;
font-family: monospace;
}
