body {
  background-color: black;
}

.container {
  position: relative;
  text-align: center;
  color: floralwhite;
}

.deny3 {
  position: absolute;
  bottom: 30%;
  right: 17%;
  font-size: 1.5vw;
}

.play {
  position: absolute;
  bottom: 10%;
  right: 45%;
  font-size: 2.5vw;
}

.dialogue {
  position: absolute;
  top: 80%;
  left: 46%;
  transform: translate(-50%, -50%);
}

p {
color: floralwhite;
text-align: left;
width: 115%;
font-family: monospace;
font-size: 1.2vw;
}

a {
text-align: center;
font-family: monospace;
}
