body {
  background-color: black;
}

.container {
  position: relative;
  text-align: center;
  color: floralwhite;
}

.centered {
  position: absolute;
  top: 82%;
  left: 46%;
  transform: translate(-50%, -50%);
}

.deny2 {
  position: absolute;
  bottom: 5%;
  right: 30%;
  transform: translate(-50%, -50%);
}

p {
color: floralwhite;
text-align: left;
width: 115%;
font-family: monospace;
font-size: 1.2vw;
}

a {
text-align: center;
font-family: monospace;
font-size: 1.2vw;
}