body {
  background-color: black;
}

.container {
  position: relative;
  text-align: center;
  color: floralwhite;
}

.top-right {
  position: absolute;
  top: 10%;
  right: 70%;
  font-size: 1vw;
}

.centered {
  position: absolute;
  top: 73%;
  left: 46%;
  transform: translate(-50%, -50%);
}

.bottom-right {
  position: absolute;
  top: 45%;
  right: -10%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
}

.top-left {
  position: absolute;
  top: 57%;
  right: 20%;
  font-size: 4vw;
}

p {
color: floralwhite;
text-align: left;
width: 115%;
font-family: monospace;
font-size: 1.2vw;
}

a {
text-align: center;
font-family: monospace;
}
