body {
  background-color: black;
}

.container {
  position: relative;
  text-align: center;
  color: floralwhite;
}

.bottom-right {
  position: absolute;
  bottom: 30%;
  right: 17%;
}

.centered {
  position: absolute;
  top: 80%;
  left: 44%;
  transform: translate(-50%, -50%);
}

p {
color: floralwhite;
text-align: left;
width: 115%;
font-family: monospace;
font-size: 1.2vw;
}

a {
text-align: center;
font-family: monospace;
font-size: 1.5vw;
}
