body {
  background-color: black;
  margin: auto;
  width: 640px; 
  padding: 50px;
  font-family: Courier New, monospace;
}

img{
  padding: 10px; 
}

.title {
  color: darkseagreen;
  text-align: center;
  font-size: 3vw;
}

.text {
  color: darkseagreen;
  text-align: center;
}

a {
  text-decoration: none;
  color: darkseagreen;
}

a:hover, a:active {
  color: aliceblue;
  font-weight: bold;
}
