body {
  background-color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
  font-family: Courier New, monospace;
}

img{
  padding: 10px; 
}

.title {
  color: darkseagreen;
  text-align: center;
}

.text {
  margin-left: 80;
  margin-right: 80;
  color: darkseagreen;
  text-align: center;
}

a {
  text-decoration: none;
  color: darkseagreen;
}

a:hover, a:active {
  color: aliceblue;
  font-weight: bold;
}
