body {
  background-color: black;
  font-family: Courier New, monospace;
  font-size: 100%;
}

.title {
  color: darkseagreen;
  text-align: center;
  font-size: 5vw;
}

.text {
  color: darkseagreen;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

a {
  text-decoration: none;
  color: darkseagreen;
}

a:hover, a:active {
  color: aliceblue;
  font-weight: bold;
}
