body {
  background-color: black;
}

h1 {
  color: floralwhite;
  text-align: left;
  font-size: 1.5vw;
}

p {
color: floralwhite;
text-align: left;
width: 90%;
font-family: monospace;
font-size: 1.2vw;
}

a {
color: floralwhite;
text-align: left;
font-family: monospace;
font-size: 1.2vw;
}