body {
  background-color: darkslategrey;
  font-family: Courier New, monospace;
  font-size: 100%;
}

.title {
  color: darkseagreen;
}

.image {
  position: relative;
}

img {
  border-radius: 50%;
  width: 10vw;
  height:  10vw;
}

.dialogue {
  text-align: center;
  color: rosybrown;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.choice {
  text-align: center;
  color: burlywood;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}

a {
  text-decoration: none;
  color: darkseagreen;
}

a:hover, a:active {
  color: aliceblue;
  font-weight: bold;
}