body {
  background-color: black;
  font-family: Courier New, monospace;
  font-size: 150%;
}

.time {
  color: lightgrey;
}

.dialogue {
  text-align: center;
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.choice {
  text-align: center;
  color: lightgrey;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}

a {
  text-decoration: none;
  color: lightgrey;
}

a:hover, a:active {
  color: white;
  font-weight: bold;
}