body {
  background-color: black;
}

h1 {
  color: floralwhite;
  text-align: left;
  font-size: 1.5vw;
}

.text {
color: floralwhite;
text-align: left;
width: 90%;
font-family: monospace;
font-size: 1.2vw;
}

.image {
  position: relative;
}
.B1 {
  position: absolute;
  top: 15%;
  right: 10%;
}
.B2 {
  position: absolute;
  top: 30%;
  right: 25%;
}
.B3 {
  position: absolute;
  top: 45%;
  right: 10%;
}
.B4 {
  position: absolute;
  top: 60%;
  right: 25%;
}
.B5 {
  position: absolute;
  top: 75%;
  right: 10%;
}

img {
  border-radius: 50%;
  width: 10vw;
  height:  10vw;
}

.return {
  font-family: monospace;
  text-align: center;
  font-size: 1.2vw;
}

p {
color: floralwhite;
text-align: left;
width: 115%;
font-family: monospace;
font-size: 1.2vw;
}

a {
  font-family: monospace;
  text-align: center;
  font-size: 1.2vw;
  position: absolute;
  top: 20%;
  right: 28%;
}
