body {
  background-color: black;
}

.container {
  position: relative;
  text-align: center;
  color: floralwhite;
}

.centered {
  position: absolute;
  top: 82%;
  left: 45.5%;
  transform: translate(-50%, -50%);
}

h1 {
  color: floralwhite;
  text-align: center;
  font-size: 2vw;
}

p {
color: floralwhite;
text-align: left;
width: 115%;
font-family: monospace;
font-size: 1.2vw;
}

a {
color: floralwhite;
text-align: left;
font-family: monospace;
font-size: 1.2vw;
}