body {
  background-color: black;
}

.container {
  position: relative;
  text-align: center;
  color: floralwhite;
}

.deny {
  position: absolute;
  top: 10%;
  right: 70%;
  font-size: 1vw;
}

.dialogue {
  position: absolute;
  top: 74%;
  left: 19%;
}

.play1 {
  position: absolute;
  top: 28%;
  left: 0%;
  font-size: 4vw;
}

.play2 {
  position: absolute;
  top: 52%;
  left: 0%;
  font-size: 4vw;
}

.leave {
  position: absolute;
  bottom: 10%;
  left: 38%;
  font-size: 1.2vw;
}

p {
color: floralwhite;
text-align: left;
width: 115%;
font-family: monospace;
font-size: 1.2vw;
}

a {
text-align: center;
font-family: monospace;
}
